[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gymnasium = "*"
swig = "*"
"gymnasium[box2d]" = "*"
numpy = "*"
tensorflow = "*"
keras = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"